body {
  background-color: #FFFFFF;
  padding-top: 40px;
}

/* home page  */
.main-overflow {
  overflow: hidden;
}

.static {
    position: static;
  }

  .navbar-default {
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
  }

  /* video-container for homepage nested looped video */

  .video-container {
    position: absolute;
    right: 125px;
    bottom: 45px;
    max-width: 75%;
  }


  .video {
    max-width: 100%;
    z-index: -1;
  }

  .video video {
    max-width: 100%;
  }


  /* name-container */

  .name-container {
    font-family: "rift",sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    margin: 10px;
    text-align: center;
  }

  .name-container a {
    color: #070707 !important;
    text-decoration: none !important;
  }

  a:hover {
    color: #4c4b4b !important;
    text-decoration: none !important;
  }

  /* page titles */

  .about-container {
    color: #8a828a;
    font-family: "rift",sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: -5px;
    margin: -5px;
    text-align: center;

  }

  .works-container  {
    color: #8a828a;
    font-family: "rift",sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: -5px;
    margin: -5px;
    text-align: center;
  }


/* dropdown button for description of each works page */

  .works-dropdown {
    color: #8a828a;
    font-family: "rift",sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: -5px;
    margin: -5px;
    text-align: center;

  }

  .dropdown-menu {
    text-align: center;
    margin-left: 300px;

  }

  .works-dropdown a {
    color: #8a828a;
  }



  /* hamburger glyphicon */

  .hamburger {
    position: absolute;
    margin: 35px;
    z-index: 2;
    cursor: pointer;
  }

  .line {
    background: #8A828A;
    width: 50px;
    height: 6px;
    margin-bottom: 5px;
  }

  .menu {
    background-color: rgba(226, 222, 226, 0.9);
    width: 483px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -520px;
    transition: left .3s;
    z-index: 3;

  }

  .menu-item:first-child {
    margin-top: 180px;
  }


  .menu--open {
    left: 0;
  }

  .menu-item {
    color: ##379888 !important;
    width: 100%;
    font-family: "rift",sans-serif;
    font-size: 25px;
    padding: 1rem 20rem;
    box-sizing: border-box;

  }

  .menu-item a {
    color: #379888!important;
    text-decoration: none !important;
  }

  .menu-item:hover a {
    color: #8c8989 !important;
    text-decoration: none !important;
  }


  .menu-item:hover {
    color: #8c8989;
    background: #FFFFFF;
    cursor: pointer;
  }

  /* about page/ layout of text and maybe portrait*/

  .bio-para {
    color: black;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    max-width: 100%;
    font-family: "rift",sans-serif;
    font-size: 20px;
  }

  .dropdown-text {
    color: #379888;
    text-align: center;
    font-size: 20px;
    width: 500px;
    max-width: 100%;
  }

  .icon {
    color: #379888;
  }




  /* overlay for works-container projects that link to different pages on the works page */
  .overlay {
    position: absolute;
    top: 310px;
    left: 10px;
    right: -10px;
    transition: all .95s;
    overflow: hidden;
    height: 0;
    /* opacity: 0.8; */
    background: white;
    text-align: center;
    font-size: 20px;

  }

  .project-works:hover
  .overlay,
  .overlay:hover {
    height: 100%;
    background: white;
    display: block;
  }

  /* image page layout and overlay layout*/


  .overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .100s;
    overflow: hidden;
    height: 0;
    background: white;
    text-align: center;
    font-family: "rift", sans-serif;
    font-size: 20px;
    font-weight: 400;
  }



  .overlay-text-wrapper:hover .overlay-text, .overlay-text:hover {
    height: initial;
    display: block;
  }



  /* more indepth bootstrap grid system */



  .container {
    margin-top: 5px;
    color: #8a828a;
    font-family: "rift",sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }

  .project-works{
    margin-top: 10px;
    margin-left: 10px;
    max-width: 570px;
    height: 333px;
  }



  .overlay-text-wrapper {

    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;

  }

  .overlay-text-wrapper-yellow {
    margin-top: 100px;

  }


  .overlay-text-wrapper.overlay-text-wrapper-last{
    margin-bottom: 25px;

  }

  .unedited-vid {
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: -85px;
    margin-right: 5px;
    max-width: 800px;
  }


  /* margin for row  */
  .row col-md-6 {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 70px;
  }

  /* social icon */

  .social-icon {
    margin-top: 150px;
    margin-left: 523px;
  }

  .social-icon img,
  .insta,
  .freddie  {
    width: 100px;
    max-width: 100%;
  }

  .insta:hover {
    content: url('images/IG_Glyph_Fill.jpg');
    width: 100px;

  }

  .freddie {
    background-image: url('images/freddie_black.jpg');
    width: 100px;
    height: 100px;
  }

  .freddie:hover {
    background-image: url('images/mc_freddie_color.jpg')
  }

  .icon-freddie {
    margin-left: 570px;
  }

  .mc_embed_signup {
    background:#fff;
    margin-top: -50px;
    margin-left: 120px;
    font:14px Helvetica,Arial,sans-serif;
    }
