

body {
  background-color: #FFFFFF;
  padding-top: 40px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}


/* home page  */
.main-overflow {
  overflow: hidden;
}

.static {
    position: static;
  }

  .ns-navbar {
    overflow: hidden;
    height:90px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2; /* when scrolling the ns-navbar is alway in front of everything  */
  }

  /* video-container for homepage nested looped video */

  .video-container {

    margin: auto 0;
    max-height: calc(100vh - 62px);
    position: relative;
    z-index: -1; /*video behind ns-navbar */
  }


  .video {
    max-width: 100%;
    margin: auto 0;

  }

  .video video {
    max-width: 100%;
    max-height: calc(100vh - 62px);
    margin: 0 auto;
    display: block;

  }


  /* name-container */

  .name-container a {

    text-decoration: none;
    color: black;
  }

  #project-color {
    color: #3bc9b2;
  }

  .name-container {
    font-family: "rift",sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
  }


  .works-container {
    color: #3bc9b2;
  }



  .about-container {
    color: #3bc9b2;
    font-family: "rift",sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: -5px;
    margin: -5px;
    text-align: center;

  }

  a:hover {
    color: #4c4b4b;
    text-decoration: none !important;
  }


/* modal background */

.btn a {

  position: absolute;
  top: 90px;
  text-align: center;
  width: 100%;

  color: #6b6d6d;
  font-family: "rift",sans-serif;
  font-style: normal;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
}


.modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgb(0,0,0);
  background-color: rgba(59, 201, 178, 0.94);

/* font */
  color: #3bc9b2;
  font-family: "rift",sans-serif;
  font-style: normal;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.modal-content
p {


  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */

  /* font */
  color: black;
  font-family: "rift",sans-serif;
  font-style: normal;
  font-size: 25px;
  font-weight: 500;

}

/* close modal */

/* The Close Button */
.close {
  color: #151414;
  float: right;
  font-size: 75px;
  margin-right: 10%;
  margin-top: -3%;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


  /* hamburger glyphicon */

  .hamburger {
    position: absolute;
    margin: 35px;
    z-index: 2;
    cursor: pointer;
  }

  .line {
    background: #8A828A;
    width: 50px;
    height: 6px;
    margin-bottom: 5px;
  }

  .menu {
    background-color: rgba(226, 222, 226, 0.9);
    width: 483px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -520px;
    transition: left .90s;
    z-index: 3;

  }

  .menu-item:first-child {
    margin-top: 180px;
  }


  .menu--open {
    left: 0;
  }

  .menu-item {
    color: #3bc9b2;
    width: 100%;
    font-family: "rift",sans-serif;
    font-size: 25px;
    padding: 1rem 15rem;
    box-sizing: border-box;
    padding-right: 162px;

  }

  .menu-item a {
    color: #3bc9b2;
    text-decoration: none;
  }

  .menu-item:hover a {
    color: #8c8989;
    text-decoration: none;
  }


  .menu-item:hover {
    color: #8c8989;
    background: #FFFFFF;
    cursor: pointer;
  }

  /* about page/ layout of text and maybe portrait*/

  .bio-para {
    color: black;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    max-width: 100%;
    font-family: "rift",sans-serif;
    font-size: 20px;
  }

  .dropdown-text {
    color: #3bc9b2;
    text-align: center;
    font-size: 20px;
    width: 500px;
    max-width: 100%;
  }

  .icon {
    color: #3bc9b2;
  }

  /* container grid system  */

  .container {
    max-width: 1140px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }


  .project-works {
    width: 50%;
    float: left;
  }

  .project-works img {
    position: relative;
    padding: 10px;
  }

  .responsive-img {
    max-width: 100%;
  }

  .clearfix-container:after {
    display: block;
    height: 0;
    clear: both;

  }


  /* overlay for works-container projects that link to different pages on the works page */

  .overlay-text {
    color: #3bc9b2;
    text-align: center;
    font-family: "rift", sans-serif;
    font-size: 20px;
    font-weight: 400;
  }

  .overlay {
    background: white;
    position: relative;;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0;





  }

  .project-works:hover
  .overlay,
  .overlay:hover {
    height: 50px;
    background: white;
    display: block;
    transition: all .100s;
  }

  /* image page layout and overlay layout*/






  .overlay-text-wrapper:hover
  .overlay-text,
  .overlay-text:hover {
    height: initial;
    display: block;
  }



  /* more indepth bootstrap grid system */



  .menu-container {
    top: 0;
    color: #3bc9b2;
    font-family: "rift",sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 500;
    position: absolute;;
  }



  .overlay-text-wrapper {

    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;

  }

  .overlay-text-wrapper-yellow {
    margin-top: 100px;

  }


  .overlay-text-wrapper.overlay-text-wrapper-last{
    margin-bottom: 25px;

  }

  .unedited-vid {
    margin-top: 100px;
    margin-left: 0;
    max-width: 800px;
  }



  /* social icon */

  .social-icon {
    margin-top: 150px;
    margin-left: 523px;
  }

  .social-icon img,
  .insta,
  .freddie  {
    width: 100px;
    max-width: 100%;
  }

  .insta-logo {
    background-image : url('images/glyph-logo1.jpg');
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
  }

  .insta-logo:hover {
    background-image : url('images/IG_Glyph_Fill.jpg');
  }

  .freddie {
    background-image: url('images/freddie_black.jpg');
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    margin-left: 50px;
  }

  .freddie:hover {
    background-image: url('images/mc_freddie_color.jpg')
  }


  .mc_embed_signup {
    background:#fff;
    margin-top: -50px;
    margin-left: 165px;
    font:14px Helvetica,Arial,sans-serif;
    }
